@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.wrapper-form {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    background-color: rgba(242, 242, 242, .6);
}

.top-header {
    background-color: #103b5c;
}

.top-header--title {
    color: #fff;
    text-align: center;
}

.title {
    font-weight: 500;
    color: #103b5c;
}

.title--small {
    font-weight: 300;
    color: #084f80;
}

.clmn__6 {
    width: 100%;
}

.section__1--input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.clmn__4--chk {
    float: left;
    width: 25%;
    margin: 8px 0;
}

.clmn__4--chk-big {
    float: left;
    width: 50%;
    margin: 8px 0;
}

fieldset {
    border: 2px solid #103b5c;
    margin-bottom: 12px;
    padding: 15px;
}

legend {
    font-weight: 300;
    color: #084f80;
}

.button {
    color: #fff;
    padding: 12px;
}

.button:focus {
    outline: none;
    box-shadow: none;
  }

.button--go {
    background-color: #449d44;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.button--stop {
    background-color: #f81717;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.foot {
    background-color: rgba(242, 242, 242, .6);
    margin-top: 30px;
    padding: 30px;
}

@media (min-width: 800px) {
    .clmn__6 {
        float: left;
        width: 50%;
    }
    
    .clmn__6--right {
        text-align: right;
    }

    .section__1--input {
        width: auto;
    }

    .clmn__4--chk-big {
        float: left;
        width: 25%;
        margin: 8px 0;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

}